* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Cormorant Infant", serif;
  background-color: #fefefc;
  color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.wrapper {
  overflow: hidden;
}

.invitation {
  width: 100%;
  margin: auto;
  max-width: 600px;
  position: relative;
}

.column {
  background: #ffffff;
  width: 100%;

  padding: 20px;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.column.green {
  background-color: #081f1f;
  height: 1590px;
  color: #f3ece1;
}

.header {
  position: relative;
}

.header-wedding-date {
  font-size: 32px;
  margin-top: 10px;
}

.header-couples-name {
  font-size: 54px;
}

.header-photo {
  width: 100%;
  text-align: center;
  position: relative;
  display: inline-block;
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.header-image {
  width: 100%;
  border-top-right-radius: 250px;
  border-top-left-radius: 250px;
}

.header-title {
  font-size: 50px;
  text-transform: uppercase;
  text-align: end;
  position: absolute;
  right: 20px;
  bottom: 410px;
}

.column.red {
  background-color: #5a0a05;
  color: #f3ece1;
}

.welcome {
  border-top-right-radius: 300px;
  border-top-left-radius: 300px;
  position: relative;
  margin-top: -285px;
}

.welcome-content {
  text-align: center;
  margin-top: 220px;
}

.welcome-title {
  width: 100%;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
}

.welcome-descriprion {
  font-size: 25px;
  text-align: center;
  margin: 30px 20px 30px;
}

.welcome_calendar {
  border: 1px solid #f3ece1;
  padding: 40px 30px 20px;
}

.calendar_month {
  font-size: 25px;
  text-transform: uppercase;
}

.welcome_calendar p {
  font-size: 35px;
  font-weight: 700;
}

.welcome_calendar table {
  border-collapse: separate;
  border-spacing: 10px 10px; /* горизонталь, вертикаль */
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
}

.welcome_calendar th {
  color: #b89e75;
}

.welcome_calendar th,
.welcome_calendar td {
  width: 50px;
  height: 50px;
  font-size: 30px;
}

.highlight {
  position: relative;
  font-weight: bold;
}

.highlight::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  border: 1.5px solid #87652d;
  border-radius: 50%;
}

.calendar_wedding-date {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.calendar_wedding-time {
  text-align: center;
  font-size: 50px;
}

.column.white {
  background-color: #f3ece1;
  color: #081f1f;
}

.place {
  padding: 90px 20px 110px;
  position: relative;
}

.place-title {
  width: 300px;
  font-size: 50px;
  text-transform: uppercase;
}

.place-image {
  width: 100%;
  border-top-right-radius: 250px;
  border-top-left-radius: 250px;
  margin-top: 20px;
}

.place-address {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 25px;
  text-align: end;
}

.btn {
  padding: 15px 25px;
  background-color: #081f1f;
  color: #f3ece1;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #5a0a05;
}

.wishes {
  position: relative;
}

.wishes_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 110px;
}

.wishes-title {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.wishes-description {
  font-size: 25px;
}

.countdown-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.countdown {
  width: 550px;
  height: 150px;
  position: relative;
  display: flex;
  gap: 40px;
  padding: 15px 30px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0.9);
  animation: countdownFadeIn 1.5s ease-out 0.5s forwards;
}

.countdown::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -1px;
  width: 100%;
  height: 100%;
  background-image: url("images/timerounded.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  opacity: 0;
  animation: bgFadeIn 2s ease-out 1s forwards;
}

@keyframes countdownFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Анимация фона (svg изображения) */
@keyframes bgFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.countdown div {
  text-align: center;
}

.countdown span {
  display: block;
  font-size: 50px;
  font-weight: bold;
}

.countdown p {
  margin: 0;
  font-size: 18px;
  text-transform: capitalize;
}

.wishes-photo {
  padding: 20px;
}

.wishes-image {
  width: 100%;
  border-radius: 250px;
}

.footer {
  position: relative;
}

.footer-photo {
  width: 100%;
  text-align: center;
}

.footer-image {
  width: 100%;
  border-radius: 250px;
}

.closing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.closing-title {
  font-size: 50px;
  text-transform: uppercase;
}

.closing-description {
  font-size: 25px;
}

.footer-media {
  margin-top: 20px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social img {
  cursor: pointer;
}
/* Базовый класс для скрытых элементов */
.animate {
  opacity: 0;
  transition: all 2s ease-out;
  will-change: opacity, transform;
}

/* Картинки: слева направо */
.slide-left {
  transform: translateX(-50px);
}
.slide-left.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Картинки: справа налево */
.slide-right {
  transform: translateX(50px);
}
.slide-right.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Текст: снизу вверх */
.fade-up {
  transform: translateY(40px);
}
.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}
